#square {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  border: 4px solid red;
}

.triangle {
  border-top: 100px solid green;
  border-right: 100px solid transparent;
  border-bottom: 100px solid yellow;
  border-left: 100px solid transparent;
}

.circle {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: blue;
  border-radius: 50%;
}
